<h1><%= @person.full_name %></h1>

<p>
	<em><%= @person.motto %></em>
</p>

<% if @person.credits.any? -%>
<h2>Credits</h2>
<p>
	<% for_unique_credits @person do |thing, roles| -%>
		<%= link_to thing.title, thing %>
		(as <%= roles %>)<br />
	<% end -%>
</p>
<% end -%>

<% if @person.groups.any? -%>
<h2>Groups</h2>
<p>
	<% @person.groups.each do |group| -%>
		<%= link_to group.name, group %><br />
	<% end -%>
</p>
<% end -%>

<% if @person.institution? -%>
<h2>This is an institution</h2>
<p>…not a real person</p>
<% end -%>

<% if @person.user.blank? -%>
<h2>This is a generated profile</h2>
<p>Somebody added this person to our system, but it is not connected to a user, yet. If this should be your account, please contact us to claim it.</p>
<% end -%>
	
<div id="controls">
	<% if can? :update, @person -%>
		<%= link_to 'Edit', edit_person_path(@kontext) %>
	<% end -%>
	<% if can? :destroy, @person -%>
		<%= link_to 'Delete', @person, :confirm => 'Are you sure?', :method => :delete %>
	<% end -%>
</div>