<h1>
  <%=h @person.full_name %>
</h1>

<p>
	<i><%=h @person.motto %></i>
</p>

<p>
	<h2>Credits</h2>
	<% @person.credits.each do |credit| -%>
	  <%= link_to credit.thing.title, thing_path(credit.thing.id) %> (as <%= credit.role.capitalize %>)<br />
	<% end -%>
</p>

<% if user_signed_in? -%>
<div id="controls">
	<%= link_to 'Edit', edit_person_path(@person) %>
	<%= link_to 'Delete', @person, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end -%>