<% form_for(@thing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <% f.fields_for :credits do |builder| -%>
    <%= render 'credit_fields', :f => builder %>
  <% end -%>
  <p><%= link_to_add_fields 'add credit', f, :credits %></p>
  
  <p>
    <%= f.submit submit %>
  </p>
<% end %>