<%= form_for(@thing, :html => {:multipart => true}) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  Credits<br />
  <%= f.fields_for :credits do |builder| -%>
    <%= render 'credit_fields', :f => builder %>
  <% end -%>
  <p><%= link_to_add_fields 'add credit', f, :credits %></p>
  
  Images<br />
  <%= f.fields_for :images do |builder| -%>
    <%= render 'shared/image_fields', :f => builder %>
  <% end -%>
  <p><%= link_to_add_fields 'add image', f, :images, :shared => true %></p>
  
  <div class="field">
    <%= f.label :license %><br />
    <%= f.text_field :license %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
