	<h1><%= @thing.title %></h1>

<%=format_user_text @thing.description %>

<% if @thing.images.any? -%>
		<h2>Media</h2>
		<p>
			<% @thing.images.each do |image| -%>
				<%= gallery_image_link_tag image.data.url(:thumb), image.data.url(:large),
				  :alt => "<b>#{image.title}</b><br />#{image.description}" %>
			<% end -%>
		</p>
		<% end -%>

</div> <!-- end #entry -->
</div> <!-- end #main -->

<div id="side" class="grid_6">
	<div id="side-content">
	
		<div id="entry-people"			
			<h2>People</h2>
			<p>
				<% for_unique_people @thing do |person, role| -%>
					<%= link_to person.full_name, person_path(person) %> – <%= role %><br />
				<% end -%>
			</p>
		</div>
		
		<div id="entry-form" class="entry-meta">
		<h2>Form</h2>
			
			<p><%= @thing.kind %></p>
			
			<p><%= @thing.materials %></p>
			
			<p><%= @thing.dimensions %>
			<% if @thing.dimensions_additional.present? -%>
			(<%= @thing.dimensions_additional %>)
			<% end -%></p>
			
			<% if @thing.release_date.present? -%>
			<p>Made with <%= @thing.tools %></p>
			<% end -%>
		</div> <!-- end #entry-form -->
		
		<% if @thing.release_date.present? -%>
		<div id="entry-time" class="entry-meta">
			<h2>Time</h2>
			<p>
			    Released: <%= @thing.release_date.strftime '%d.%m.%Y' %><br />
			  <% end -%>
			  <% if @thing.start_date.present? -%>
			    <small>Started: <%= @thing.start_date.strftime '%d.%m.%Y' %><small><br />
			  
			</p>
		</div> <!-- end #entry-time -->
		<% end -%>

		<div id="controls">
			<% if can? :update, @thing -%>
				<%= link_to 'Edit', edit_thing_path(@thing) %>
			<% end -%>
			<% if can? :destroy, @thing -%>
				<%= link_to 'Delete', @thing, :confirm => 'Are you sure?', :method => :delete %>
			<% end -%>
		</div>
	</div>	
</div> <!-- end #side -->