<h1><%= @thing.title %></h1>

<%=format_user_text @thing.description %>

<h2>Form</h2>
<p>
  Kind: <%= @thing.kind %><br />
  
  Materials: <%= @thing.materials %><br />
  
  Dimensions: <%= @thing.dimensions %>
  <% if @thing.dimensions_additional.present? -%>
    (<%= @thing.dimensions_additional %>)
  <% end -%><br />
  
  <% if @thing.release_date.present? -%>
    Released on: <%= @thing.release_date.strftime '%d.%m.%Y' %><br />
  <% end -%>
  <% if @thing.start_date.present? -%>
    Started at: <%= @thing.start_date.strftime '%d.%m.%Y' %><br />
  <% end -%>
</p>

<h2>Credits</h2>
<p>
	<% for_unique_people @thing do |person, role| -%>
		<%= role %> — <%= link_to person.full_name, person_path(person) %><br />
	<% end -%>
</p>

<% if @thing.images.any? -%>
<h2>Gallery</h2>
<p>
	<% @thing.images.each do |image| -%>
		<%= gallery_image_link_tag image.data.url(:thumb), image.data.url(:large),
		  :alt => "<b>#{image.title}</b><br />#{image.description}" %>
	<% end -%>
</p>
<% end -%>

<% if @thing.kontexts.any? -%>
<h2>Kontext</h2>
<p>
	<%= comma_separated_links_for @thing.kontexts, :name %>
</p>
<% end -%>

<div id="controls">
	<% if can? :update, @thing -%>
		<%= link_to 'Edit', edit_thing_path(@thing) %>
	<% end -%>
	<% if can? :destroy, @thing -%>
		<%= link_to 'Delete', @thing, :confirm => 'Are you sure?', :method => :delete %>
	<% end -%>
</div>