<h1>
  <%= @thing.title %>
</h1>

<%=format_user_text @thing.description %>

<h2>Credits</h2>
<p>
	<% for_unique_people @thing do |person, role| -%>
		<%= role %> — <%= link_to person.full_name, person_path(person) %><br />
	<% end -%>
</p>

<% if @thing.images.any? -%>
<h2>Gallery</h2>
<p>
	<% @thing.images.each do |image| -%>
		<%= link_to image_tag(image.data.url(:thumb), :alt => "<b>#{image.title}</b><br />#{image.description}", :rel => 'fancybox'), image.data.url(:large), :rel => 'fancybox' %>
	<% end -%>
</p>
<% end -%>

<% if @thing.kontexts.any? -%>
<h2>Kontext</h2>
<p>
	<% @thing.kontexts.each do |kontext| -%>
		<%= link_to kontext.name, kontext %><br />
	<% end -%>
</p>
<% end -%>

<div id="controls">
	<% if can? :update, @thing -%>
		<%= link_to 'Edit', edit_thing_path(@thing) %>
	<% end -%>
	<% if can? :destroy, @thing -%>
		<%= link_to 'Delete', @thing, :confirm => 'Are you sure?', :method => :delete %>
	<% end -%>
</div>