<div id="controls">
	<% if can? :update, @group -%>
		<%= link_to 'Edit', edit_group_path(@group) %>
	<% end -%>
	<% if can? :destroy, @group -%>
		<%= link_to 'Delete', @group, :confirm => 'Are you sure?', :method => :delete %>
	<% end -%>
</div>

<h1><%= @group.name %></h1>

<%=format_user_text @group.description %>

<h2>Members</h2>
<p>
	<% @group.people.each do |person| %>
		<%= link_to person.full_name, person %><br />
	<% end -%>
</p>

<% if @group.images.any? -%>
<h2>Gallery</h2>
<p>
	<% @group.images.each do |image| -%>
		<%= link_to image_tag(image.data.url(:thumb), :alt => "<b>#{image.title}</b><br />#{image.description}", :rel => 'fancybox'), image.data.url(:large), :rel => 'fancybox' %>
	<% end -%>
</p>
<% end -%>

<% if @group.website_url.any? -%>
<h2>Website</h2>
<p>
	<%= link_to @group.website_url, @group.website_url, :target => '_blank' %>
</p>
<% end -%>