<h1>Registration</h1>

<%= error_messages_for :user %>
<%= error_messages_for :person %>

<% form_tag @user do %>
<table>
	<tr>
		<td>First Name</td>
		<td><%= text_field :person, :first_name %></td>
	</p>
	<tr>
		<td>Last Name</td>
		<td><%= text_field :person, :last_name %></td>
	</p>
	<tr>
		<td>Username</td>
		<td><%= text_field :user, :username %></td>
	</p>
	<tr>
		<td>Email address</td>
		<td><%= text_field :user, :email %></td>
	</p>
	<tr>
		<td colspan="2"><%= submit_tag 'Register' %></td>
	</tr>
</table>
<% end -%>
