<div id="controls">
	<% if can? :update, @department -%>
		<%= link_to 'Edit', edit_department_path(@department) %>
	<% end -%>
	<% if can? :destroy, @department -%>
		<%= link_to 'Delete', @department, :confirm => 'Are you sure?', :method => :delete %>
	<% end -%>
</div>

<h1><%= @department.name %></h1>

<%=format_user_text @department.description %>




<% content_for :sidebar do -%>
	<% if @department.head_of_department.present? -%>
		<h2>Head of department</h2>
		<%= link_to @department.head_of_department.full_name, @department.head_of_department %>
	<% end -%>
	
	<% if @department.study_modules.present? -%>
	<h2>Study Modules</h2>
	<p>
		<%= comma_separated_links_for @department.study_modules, :name %>
	</p>
	<% end -%>
<% end -%>