<div id="controls">
	<% if can? :update, @study_module -%>
		<%= link_to 'Edit', edit_study_module_path(@study_module) %>
	<% end -%>
	<% if can? :destroy, @study_module -%>
		<%= link_to 'Delete', @study_module, :confirm => 'Are you sure?', :method => :delete %>
	<% end -%>
</div>

<h1 class="title"><%= @study_module.kind %>: <%= @study_module.name %></h1>

<div class="description grid_12">
	<%=format_user_text @study_module.description %>
</div>

<% content_for :sidebar do -%>
	<h2>Department</h2>
	<p>
		<%= link_to @study_module.department.name, @study_module.department %>
		<% if @study_module.department.head_of_department.present? -%>,
		<%= link_to @study_module.department.head_of_department.full_name,
			@study_module.department.head_of_department %>
		<% end -%>
	</p>
	
	<% if @study_module.teachers.present? -%>
	<h2>Teachers</h2>
	<p>
		<%= comma_separated_links_for @study_module.teachers, :full_name %>
	</p>
	<% end -%>
	
	<% if @study_module.things.present? -%>
	<h2>Things</h2>
	<%= comma_separated_links_for @study_module.things, :title %>
	<% end -%>
<% end -%>