<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>bau-ha.us [<%= RAILS_ENV %>] | <%= controller.controller_name %> | <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'reset', '960', 'text' %>
</head>
<body>
	
<div class="container_12" id="wrap">
	
	<div class="grid_12" id="user">
		<% if user_signed_in? -%>
			Hello, <%= current_user.username %>!
			Not You? <%= link_to 'Log out', destroy_user_session_path %> 
		<% else -%>
			<%= link_to 'Log in', new_user_session_path %> or
			<%= link_to 'register', new_user_registration_path %> 
		<% end -%>
	</div>
	<div class="clear"></div>
	
	<div class="grid_12" id="logo">
		<%= link_to 'bau-ha.us/katalog', root_path %>
	</div>
	<div class="clear"></div>
	
	<div class="grid_12" id="menu">
		<%#= link_to 'Home', root_path %>
		<%= link_to 'Things', things_path %>
		<%= link_to 'People', people_path %>
		<%= link_to 'Groups', groups_path %>
	</div>
	<div class="clear"></div>
	
	<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, :class => "grid_12", :id => "flash_#{name}" %>
		<div class="clear"></div>
	<% end -%>
	
	<div class="grid_12" id="content">
		<%= yield %>
	</div>
	<div class="clear"></div>
</div>

</body>
</html>
