<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>bau-ha.us | <%= controller.controller_name %> </title>
  <%= stylesheet_link_tag 'vollkorn', 'reset', '960', 'text', 'jquery.fancybox-1.3.1', 'katalog', :cache => 'base' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'jquery.mousewheel-3.0.2.pack', 'jquery.fancybox-1.3.1.pack', 'jquery.oembed-1.0.1', 'application', :cache => 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>
	<div id="wrapper" class="hfeed container_16">
		<div id="header" class="grid_16">
			<div id="masthead">
				<div id="branding" role="banner" class="grid_3 alpha">
					<h1 id="site-title">
						<%= link_to 'Katalog', root_path %>
					</h1>
					</div><!-- #branding -->

					<div id="access" role="navigation" class="grid_13 omega">
						<div class="menu grid_8 alpha">
							<ul>
								<li class="menu-item <%= 'menu-item-current' if controller_name == 'things' %>">
									<%= link_to 'Things', things_path %>
								</li>
								<li class="menu-item <%= 'menu-item-current' if controller_name == 'people' %>">
									<%= link_to 'People', people_path %>
								</li>
								<li class="menu-item <%= 'menu-item-current' if controller_name == 'groups' %>">
									<%= link_to 'Groups', groups_path %>
								</li>
								<li class="menu-item <%= 'menu-item-current' if controller_name == 'contexts' %>">
									<%= link_to 'Context', contexts_path %>
								</li>
							</ul>
						</div>
						<div class="user grid_5 alpha">
							<% if user_signed_in? -%>
								<span>Hello, <span class="username"><%= link_to current_user.username, edit_user_registration_path %>!</span>
								<%= link_to 'Not You?', destroy_user_session_path %></span> 
							<% else -%>
								<span><%= link_to 'Log in', new_user_session_path %> or
								<%= link_to 'Register', new_user_registration_path %> </span>
							<% end -%>
						</div>
					</div><!-- #access -->
				</div><!-- #masthead -->
			</div><!-- #header -->

			<div id="main" class="grid_16">
				<div id="container" class="grid_16 alpha">
					<div id="content" class="grid_10 alpha">
									
						<% flash.each do |name, msg| -%>
							<%= content_tag :div, msg, :class => "grid_10", :id => "flash_#{name}" %>
							<div class="clear"></div>
						<% end -%>
					
						<div class="entry-content">
							<%= yield %>
						</div>
						<div class="clear"></div>
					</div><!-- #content -->
				</div><!-- #container -->
			</div><!-- #main -->
		</div><!-- #wrapper -->
						
</body>
</html>
