<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Groups: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'reset', '960', 'text' %>
</head>
<body>
	
<div class="container_12" id="wrap">
	<div class="grid_12" id="logo">
		<%= link_to 'bau-ha.us/katalog', root_path %>
	</div>
	<div class="clear"></div>
	
	<div class="grid_12" id="menu">
		<%#= link_to 'Home', root_path %>
		<%= link_to 'Items', items_path %>
		<%= link_to 'Groups', groups_path %>
		<%= link_to 'Users', users_path %>
	</div>
	<div class="clear"></div>
	
	<% if flash[:notice] -%>
		<div class="grid_12" id="flash_notice">
			<%= notice %>
		</div>
		<div class="clear"></div>
	<% end -%>
	
	<div class="grid_12" id="content">
		<%= yield %>
	</div>
	<div class="clear"></div>
</div>

</body>
</html>
