<h1>Register</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.fields_for :people do |person_form| -%>
    <div class="field">
      <%= person_form.label :first_name %><br />
      <%= person_form.text_field :first_name %>
    </div>
    <div class="field">
      <%= person_form.label :last_name %><br />
      <%= person_form.text_field :last_name %>
    </div>
    <div class="field">
      <%= person_form.label :motto %><br />
      <%= person_form.text_field :motto %>
    </div>
  <% end -%>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.submit "Register" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
